.imgDiv {
    text-align: center;
    margin: 20px auto;
}

img:hover {
    cursor: pointer;
}

.imgLink {
    text-decoration: none;
}

header {
    margin-bottom: 20px;
    border-bottom: #ED1D24 1px solid;
    border-top: #ED1D24 1px solid;
    font-size: 1.05rem;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    justify-content: space-around;

}

li {
    float: left;
}

.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #000000;
}

.link:hover {
    background-color: #ED1D24;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 5px #ED1D24;
}

.active {
    background-color: rgba(237, 29, 36, 0.5);
}