<div>
    <div class="imgDiv">
        <a routerLink="/" routerLinkActive="active" class="imgLink">
            <img src="../../assets/Marvel_Logo.svg" alt="Marvel" class="logo" width="200px">
        </a>
    </div>
    <header>
        <nav>
            <ul>
                <li><a routerLink="/" routerLinkActive="active" class="link"
                        [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a routerLink="/characters" routerLinkActive="active" class="link"
                        [routerLinkActiveOptions]="{exact: true}">Characters</a></li>
                <li><a routerLink="/comics" routerLinkActive="active" class="link"
                        [routerLinkActiveOptions]="{exact: true}">Comics</a></li>
                <li><a routerLink="/events" routerLinkActive="active" class="link"
                        [routerLinkActiveOptions]="{exact: true}">Events</a></li>
                <li><a routerLink="/series" routerLinkActive="active" class="link"
                        [routerLinkActiveOptions]="{exact: true}">Series</a></li>
                <li><a routerLink="/creators" routerLinkActive="active" class="link"
                        [routerLinkActiveOptions]="{exact: true}">Creators</a></li>
            </ul>
        </nav>
    </header>
</div>