<h1 style="text-align: center; color: #fff; font-size: 2.5rem; font-weight: 800;">Characters 🦸</h1>
<div class="container">
    <app-loading *ngIf="isLoading"></app-loading>
    <div *ngIf="!isLoading">
        <div *ngFor="let character of characters | paginate: {itemsPerPage: 100, currentPage: p}; let i = index"
            class="characterList">
            <a [routerLink]="['/characters/', character.id]" class="detail">
                <div class="card">
                    <div style="display: flex; align-items: center;">
                        <img [src]="character.thumbnail | imagePipe: 'standard_medium'"
                            alt="Photo of {{character.name}}" class="imageThumb">
                        <p>{{character.name}}</p>
                        </div>
                        <p style="padding-right: 25px; padding-left: 0px;">{{i+1}}</p>
                        </div>
            </a>
            </div>
    </div>

    <div style="text-align: center;">
        <pagination-controls (pageChange)="p = $event" class="pagi">
        </pagination-controls>
    </div>
</div>