<div style="margin: 20px auto; width: fit-content;">
    <p style="text-align:center; color: #fff; font-size: 1.4rem;
    padding-top: 50px;"> Trabalho para a disciplica de Técnicas de Programação V <br />
        Utilizando a API da Marvel para a construção de um web site em Angular.
        <br />
        <br />
        <br />
        <b> Dupla: <br /> </b>
        Lucas Lima <br />
        Michel Ribeiro
        <br />
        <br />
        <br />
        <b> Repositório no GitHub: <a href="https://github.com/folows1/ng-marvel" target="_blank"
                rel="noopener noreferrer"> Link </a></b>
    </p>
</div>